@import "tailwindcss";

@font-face {
    font-family: "Archetype Bayer";
    src: url("./assets/fonts/Architype\ Bayer-type\ W90.ttf") format("opentype");
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: "Archetype Bayer";
    src: url("./assets/fonts/Architype\ Bayer-type\ W90.ttf") format("opentype");
    font-weight: 700;
    font-style: normal;
}

body {
    margin: 0;
    font-family: "League Spartan", sans-serif;
}